In [1]:
#variable

In [2]:
# create a function to find max value of 3 numbers.
#find maximum number from variable a, b, c

In [59]:
import pandas as pd
df = pd.read_csv("C:/Users/joell/OneDrive/Documents/Projects/python/Iris.csv", encoding="UTF-8", low_memory=False)

In [60]:
df.head()

   sepal-length  sepal-width  petal-length  petal-width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [61]:
print(df.dtypes)

sepal-length    float64
sepal-width     float64
petal-length    float64
petal-width     float64
species          object
dtype: object

In [62]:
print(df.columns)

Index(['sepal-length', 'sepal-width', 'petal-length', 'petal-width',
       'species'],
      dtype='object')

In [63]:
print(df[['sepal-width', 'petal-length']])

     sepal-width  petal-length
0            3.5           1.4
1            3.0           1.4
2            3.2           1.3
3            3.1           1.5
4            3.6           1.4
..           ...           ...
145          3.0           5.2
146          2.5           5.0
147          3.0           5.2
148          3.4           5.4
149          3.0           5.1

[150 rows x 2 columns]

In [74]:
print(df.columns.tolist())
myfeature = df.columns.tolist()
print(myfeature)
# can use append to add elemnt to a list

['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'species']
['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'species']

In [75]:
myTargetFeature = ['species']

In [76]:
print(df[myTargetFeature])

       species
0       setosa
1       setosa
2       setosa
3       setosa
4       setosa
..         ...
145  virginica
146  virginica
147  virginica
148  virginica
149  virginica

[150 rows x 1 columns]

In [77]:
#how to remove missing values
#how to delete some rows
#replace missing values with a value
myvar = df['sepal-length']>5.1
print(myvar)
print(df.loc[df['sepal-length']>5.1])

0      False
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: sepal-length, Length: 150, dtype: bool
     sepal-length  sepal-width  petal-length  petal-width    species
5             5.4          3.9           1.7          0.4     setosa
10            5.4          3.7           1.5          0.2     setosa
14            5.8          4.0           1.2          0.2     setosa
15            5.7          4.4           1.5          0.4     setosa
16            5.4          3.9           1.3          0.4     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[109 rows x 5 columns]

In [78]:
modf = df.copy(deep=True)
myvar2 = modf['species'] == 'setosa'
modf['species'][myvar2]='1'

<ipython-input-78-d77cada649a2>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  modf['species'][myvar2]='1'

In [79]:
print(modf)

     sepal-length  sepal-width  petal-length  petal-width    species
0             5.1          3.5           1.4          0.2          1
1             4.9          3.0           1.4          0.2          1
2             4.7          3.2           1.3          0.2          1
3             4.6          3.1           1.5          0.2          1
4             5.0          3.6           1.4          0.2          1
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [87]:
target = df['species']
unique = pd.unique(df['species']).tolist()
print(unique)

['setosa', 'versicolor', 'virginica']

In [88]:
for v in unique:
    myvar = df['species'] == v
    modf['species'][myvar] = unique.index(v)

<ipython-input-88-4cfd82a92c59>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  modf['species'][myvar] = unique.index(v)

In [89]:
print(modf)

     sepal-length  sepal-width  petal-length  petal-width species
0             5.1          3.5           1.4          0.2       0
1             4.9          3.0           1.4          0.2       0
2             4.7          3.2           1.3          0.2       0
3             4.6          3.1           1.5          0.2       0
4             5.0          3.6           1.4          0.2       0
..            ...          ...           ...          ...     ...
145           6.7          3.0           5.2          2.3       2
146           6.3          2.5           5.0          1.9       2
147           6.5          3.0           5.2          2.0       2
148           6.2          3.4           5.4          2.3       2
149           5.9          3.0           5.1          1.8       2

[150 rows x 5 columns]

In [ ]:
# to replace missing values in dataset
#for col in df.columns:
# sum(df.[col].isna())
#my_missing_index = df['species'].isna()